<%= render 'events/shared/header' %>

<div class="wrapper">
  <% @events.each do |event| %>
    <div class='event'>
      <div class='name'><%= event.name %></div>
      <% comm = event.date.to_fs(:long).index(',') %>
      <div class='date'><%= event.date.to_fs(:long) %></div>
      <div class='location'><%= event.location %></div>
      <div class='username'><%= event.creator.username %></div>
    </div>
  <% end %>
</div>
