<%= render 'events/shared/header' %>
<%= stylesheet_link_tag 'show.css' %>

<% comm = @event.date.to_fs(:long).index(',') %>
<div class="body">
  <div>
    <div class='date'>
      <%= @event.date.to_fs(:long)[...comm] %>
    </div>
    <h1>
      <%= @event.name %>
    </h1>
    <div class='user'>By
      <span> <%= @event.creator.username.upcase %> </span>
    </div>
    <p>When and Where</p>
    <div class="date-location">
      <div class='datetime'>
        <p>Date and time</p>
        <span><%= @event.date.to_fs(:long) %></span>
      </div>
      <div class='hr'></div>
      <div class='location'>
        <p>Location</p>
        <span><%= @event.location %></span>
      </div>
    </div>
    <h3> People attending </h3>
    <div class="attendees"> <% @event.attendees.each do |attendee| %>
      <p> <%= attendee.username %> </p>
      <% end %>
    </div>
  </div>
  <div class="ticket">
    <% if current_user.attended_events.include? @event %>
      <%= button_to 'Cancel Ticket', event_tickets_url(@event), method: :delete %>
    <% else %>
      <%= button_to 'Get Ticket', event_tickets_path(@event), method: :post %>
    <% end %>
  </div>
  <div class='buttons'>
    <% if @event.creator == current_user %>
      <%= button_to 'Edit Event', edit_event_path, method: :get %>
      <%= button_to 'Delete Event', event_path(@event), data_turbo_method: :delete, data_turbo_confirm: 'Are you sure?' %>
    <% end %>
  </div>
</div>